datadir="/var/lib/proxysql"
admin_variables=
{
  admin_credentials="admin:admin"
  mysql_ifaces="0.0.0.0:6032"
}

mysql_variables=
{
  threads=4
  max_connections=20000
  default_query_delay=0
  default_query_timeout=36000000
  poll_timeout=2000
  interfaces="0.0.0.0:6033"
  default_schema="information_schema"
  stacksize=1048576
  connect_timeout_server=10000
  monitor_username=""
  monitor_password=""
  ping_interval_server_msec=10000
  ping_timeout_server=200
  ping_max_failures_server=3
  check_interval_server_msec=10000
  check_timeout_server=200
  check_max_failures_server=3
  writer_is_also_reader=1
}

mysql_servers =
(
  { address="moco-k3s-primary", port=3306, hostgroup=0, max_connections=10000 },
  { address="moco-k3s-replica", port=3306, hostgroup=1, max_connections=10000 }
)

mysql_users =
(
  { username="${DB_USERNAME}", password="${DB_PASSWORD}", default_hostgroup=0, transaction_persistent=1 }
)

mysql_query_rules =
(
  { rule_id=1, match_pattern="^SELECT", destination_hostgroup=1, apply=1 }
)
